
#container .scenery h2 {
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
}

#container .scenery figure {
border: 1px solid #ddd;
display: inline-block;
padding: 4px;
border-radius: 4px;
width: 435px;
margin: 15px 5px 15px 0;
text-align: left;
}
#container .scenery figcaption {
text-align: center;
padding: 5px 0;
font-size: 20px;
color: #666;
}

#container .scenery .more {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 18px;
	margin: 0 auto;
	cursor: pointer;
	background-color: #fafafa;
}