/*headline arrives here......*/
#headline{
	width: 100%;
	min-width: 1263px;
	height: 300px;
	background: linear-gradient(to bottom right,rgba(0,0,0,0.7),rgba(0,0,0,0.0)),url(img/headline.jpg) no-repeat center;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	font-size: 36px;
	letter-spacing: 1px;
	color: #eee;
}
#headline h3{
	font-size: 20px;
	letter-spacing: 1px;
	color: #eee;
}


/*sidebar arrives here......*/
#container{
	width: 1263px;
	margin: 30px auto;
}
#container .sidebar{
	width:340px;
	float: right;
}
#container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
#container .sidebox h2 {
	text-indent: 10px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	height: 40px;
	line-height: 40px;
}
#container .tag {
	padding: 10px 0;
	text-align: center;
}
#container .tag li {
	display: inline-block;
	margin: 2px 0;
	width: 100px;
	height: 35px;
	line-height: 35px;
	color: #999;
	background-color: #eee;
	text-align: left;
	text-indent: 8px;
}
#container .tag a{
	display: block;
	color: #999;
}
#container .tag a:hover {
	background-color: #458b00;
	color: #fff;
}
#container .figure {
	padding: 10px 0;
}
#container .hot figure {
	display: inline-block;
	color: #666;
	padding: 4px;
}
#container .box {
	padding: 10px 0;
}
#container .box a {
	display: inline-block;
	margin: 2px 0;
	width: 150px;
	height: 40px;
	line-height: 40px;
	color: #999;
	background-color: #eee;
	text-align: left;
	text-indent: 35px;
}
#container .box a.trea1 {
	background: #eee url(img/trea1.png) no-repeat 10px center;
}
#container .box a.trea2 {
	background: #eee url(img/trea2.png) no-repeat 10px center;
}
#container .box a.trea3 {
	background: #eee url(img/trea3.png) no-repeat 10px center;
}
#container .box a.trea4 {
	background: #eee url(img/trea4.png) no-repeat 10px center;
}

#container .list {
	width: 910px;
	float: left;
}