
#container .ticket {
	color: #666;
}
#container .ticket h2 {
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
}
#container .ticket .type {
	font-size: 20px;
	margin: 20px 0 10px 0;
}
#container .ticket .type mark {
	color: #fff;
	background-color: #458B00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}
#container .ticket .form {
	font-size: 20px;
}
#container .ticket .form p {
	line-height: 3;
}
#container .ticket .form input {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
	font-size: 18px;
	color: #666;
	margin: 0 0 0 16px;
}
#container .ticket .left {
	width: 43%;
	display: inline-block;
}
#container .ticket .right {
	width: 43%;
	display: inline-block;
}
#container .ticket .button {
	width: 9%;
	display: inline-block;
}
#container .ticket .submit {
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	top: -28px;
}

#container .ticket .new {
	margin: 20px 0 0 0;
	font-size: 20px;
}
#container .ticket .new ul {
	margin: 20px 0 0 0;
}
#container .ticket .new li {
	display: inline-block;
	padding: 5px 10px;
}
#container .ticket .new li:first-child {
	padding-left: 0;
}
#container .ticket .new li:nth-child(2) {
	background-color: #458B00;
	border-radius: 4px;
	color: #fff;
}
#container .ticket table {
	width: 100%;
	border-collapse:collapse;
	margin: 20px 0 0 0;
	border: 1px solid #ddd;
}
#container .ticket table th {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
#container .ticket table td {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
#container .ticket table tr:nth-child(2n) {
	background-color: #fafafa;
}
#container .ticket table tr:hover {
	background-color: #eee;
}
#container .ticket .price {
	color: #f60;
}
#container .ticket .more2 {
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	color: #666;
}
#container .ticket .reserve {
	display: inline-block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
}